[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
django-environ = "*"
django-templated-email = "*"
django-anymail = {extras = ["mailjet"], version = "*"}
django-storages = {extras = ["s3"], version = "*"}
django-cron = "*"

[dev-packages]

[requires]
python_version = "3.10"
